@charset "UTF-8";


#content .content-border {
	margin: 5px;
	border: 10px solid #ffc000;
}

a {
	color:#001d5d;
	text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
	text-decoration: underline;
	color:#808080;
}


/********** [content] imgList **********/
.imgList ul {
	list-style-type:none;
	width:100%;
	margin-top:20px;
}
.imgList ul li{
	display:inline-block !important;
	width:30%;
	height:300px;
}
.imgList ul img{
	width:100%;
	height:300px;
}

/********** [content] place-info **********/
.place-info{
	text-align:left;
	padding-left:100px;
	padding-bottom:10px;
}
.place-info:after{
	content: "";
	display: block;
	width: 95%;
	border-bottom: 5px solid #eee;
}
.place-info *{
	display:inline-block;
	padding:5px 30px;
}
.place-info .h_name{
	display:block;
	font-size:60px;
}

/********** [content] place-info-detail **********/
.place-info-detail {
	text-align:left;
	padding-left:130px;
	padding-bottom:10px;
}
.place-info-detail table{
	width:100%;
	font-size:20px;
}
.place-info-detail table th{
	width:10%;
	color:gray;
	padding-bottom:10px;
}
.place-info-detail table td{
	width:70%;
}

.h_date {
	text-align:right;
	padding-right:200px;
}


/********** [content] daumMap **********/
#daumMap{
	width:60%;
	height:400px;
}


/********** [content] btnGroup **********/
.btnGroup{
	padding-bottom:10px;
}
.btnGroup *{
	display:inline-block;
	margin:20px 15px;
}
.btnGroup a{
	font-size:25px;
	background:#001d5d;
	opacity:0.9;
	color:white;
	padding:5px 20px;
	border-radius:5px;
}
.btnGroup a:hover{
	opacity:1;
	text-decoration:none;
}

.btnGroup:after{
	text-align:left;
	content: "";
	display: block;
	width: 95%;
	border-top: 5px solid #eee;
}


/********** [content] hotplace-reply **********/
.hotplace-reply{
	text-align:left;
	padding-left:130px;
	width:95%;
}
.hotplace-reply .hotplace-reply-title{
	font-size:25px;
}

.hotplace-reply-input{
	width:100%;
}
.hotplace-reply-input .name{
	font-size:20px;
	width:10%;
}
.hotplace-reply-input .hr_content{
	width:60%;
	padding: 5px;
	margin: 0 0 10px 10px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
	font-family: 'Do Hyeon', 'East Sea Dokdo', 'Gaegu', 'Poor Story', 'Gamja Flower';
}
.hotplace-reply-input .replyBtn, .resetBtn{
	width:10%;
	padding:5px;
	margin:10px;
	display: inline-block;
	border: none;
	background: #001d5d;
	color:white;
}

.hotplace-reply-list table{
	width:90%;
	background:#f1f1f1;
	border-radius:5px;
	margin:10px 0px 50px 0px;
}
.hotplace-reply-list .item:not(:last-child){
	border-bottom:2px solid #808080;
	border-bottom-width:80%;
}
.hotplace-reply-list .item *{
	padding:5px;
}
.hotplace-reply-list .name{
	width:15%;
	text-align:center;
	font-size:25px;
}

.hotplace-reply-list .hr_date{
	font-size:13px;
	color:#808080;
	margin-bottom:-10px;
}
.hotplace-reply-list .hr_content{
	font-size:17px;
	display:inline-block;
}

.replyBtnGroup *{
	border:none;
	background:transparent;
	text-decoration:underline;
	color:#001d5d;
	padding:5px;
	margin:-15px 0px;
}