@charset "UTF-8";
html, body {
	height:100%;
	margin:0;
	padding:0;
}

body{
	position:relative;
	min-height:100%;
	font-family: 'Do Hyeon', 'Dokdo', 'East Sea Dokdo', 'Gaegu', 'Poor Story', 'Gamja Flower';
	/*background-color:#f0f0f0;*/
}

a {
	color:#001d5d;
	text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
	text-decoration: underline;
}

/*********************************************** header ***********************************************/
#header {
	position:fixed;
	/*background-color:#f0f0f0;*/
	border-bottom: 1px solid #ddd;
    left: 0;
    top: 0;
    weight:100%;
    height:190px;
}

.logo{
	float:left;
	font-size:60px;
	color:#ffc000;
	padding:10px 30px;
}
.logo a {
	color:#ffc000;
	text-decoration: none;
}

.info{
	float:right;
	font-size:20px;
	padding:10px 20px;
}

.search{
	top:50%;
	left:50%;
}

.nav {
	border-top: 1px solid #ddd;
}
.nav ul{
	list-style-type:none;
	margin:0 auto;
	text-align:center;
}
.nav ul li{
	display:inline-block;
	padding: 10px 50px 10px 50px;
	font-size:20px;
}

/*********************************************** content ***********************************************/

#content{
	overflow:auto;
	border:3px solid black;
	top:190px; /* header height */
	bottom:100px; /* footer height */
	min-height:100%;
	margin:5px;
	padding:2px;
}

/*********************************************** footer ***********************************************/
#footer{
	border-top: 1px solid #ddd;
	width:100%;
	height:100px;
	color:white;
	background-color:#808080;
}

