@charset "UTF-8";

html,body{
	margin:0; padding:0;
	height:100%;
}

#wrapper{
	position:relative;
	min-height:100%;
	font-family:'Do Hyeon', 'Dokdo', 'East Sea Dokdo', 'Gaegu', 'Poor Story', 'Gamja Flower';
}

/************ header ************/
#header {
	position:fixed;
	top:0; left:0;
	width:100%;
	height:240px; /* height값 변경 시 #content의 padding-top도 변경 */ 
    border-bottom: 1px solid #ddd;
    background:white; 
    z-index:1;
}

#header .logo {
	display:inline-block;
	font-size:60px;
	padding:10px 30px; /* 위/아래 , 오/왼 */
}
#header .logo a {
	color:#ffc000;
	text-decoration: none;
}
#header .logo a img{
	width:200px;
	height:120px;
}
#header .info{
	float:right;
	display:inline-block;
	padding:20px 20px;
}
#header .info a{
	font-size:20px;
}

#header .info:after{
	clear:both;
}
#header .search{
	top:50%;
}
#header .search .row{
	margin-top:-20px;
}

#header .nav {
	border-top: 1px solid #ddd;
	
}
#header .nav ul{
	list-style-type:none;
	margin:0 auto;
	text-align:center;
}
#header .nav ul li{
	display:inline-block;
	padding: 10px 70px 10px 70px;
	font-size:20px;
}

/************ content ************/
#content {
	text-align:center;
    padding-top:240px; /* height값 변경 시 #content의 padding-top도 변경 */ 
}

/************ footer ************/
#footer {
    bottom:0;
    width:100%;
    height:100px;   
    background:#ccc;
    text-align: center;
}
#footer .footer-info{
	padding-top: 10px;
    padding-left: 100px;
    height:100%;
}
#footer .projectName{
	font-size:40px;
}
#footer .projectInfo {
    vertical-align: super;
}