@charset "UTF-8";

/************ content ************/
#content .top-list-wrap .top-list-title h2{
	padding-top:30px;
}

#content .top-list-wrap .top-list-imgs-wrap ul{
	list-style-type:none;
	margin:0 auto;
	text-align:center;
}
#content .top-list-wrap .top-list-imgs-wrap ul li{
	display:inline-block;
}
#content .top-list-wrap .top-list-imgs-wrap ul li .top-list-imgs{
	width:400px;
	height:600px;
	margin:20px;
}
