@charset "UTF-8";

#content .content-border {
	margin: 5px;
	border: 10px solid #ffc000;
}

a {
	color:#001d5d;
	text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
	text-decoration: underline;
	color:#808080;
}

/************ content ************/
#content .top-list-wrap .top-list-title h2{
	margin-top:30px;
	/*background:#ffc000;*/
	display:inline-block;
}

#content .top-list-wrap .top-list-imgs-wrap ul{
	list-style-type:none;
	margin:0 auto;
	text-align:center;
	width:100%;
	padding-inline-start: initial;
}
#content .top-list-wrap .top-list-imgs-wrap ul li{
	display:inline-block;
	width:30%;
	margin-bottom:50px;
}
#content .top-list-wrap .top-list-imgs-wrap ul a{
	color:#001d5d;
	text-decoration: none;
}
#content .top-list-wrap .top-list-imgs-wrap ul a:hover{
	cursor: pointer;
}
#content .top-list-wrap .top-list-imgs-wrap ul li .top-list-imgs{
	width:100%;
	height:400px;
	margin:20px 20px 0px 20px;
}
