@charset "UTF-8";


#content .content-border {
	margin: 5px;
	border: 10px solid #ffc000;
}

a {
	color:#001d5d;
	text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
	text-decoration: underline;
	color:#808080;
}

/**************** content ****************/
/*** hotplace-wrapper ***/
.hotplace-wrapper{
	border:2px solid #efefef;
	margin: 100px;
	margin-top:50px;
	text-align:left;
}
.hotplace-header{
	margin:20px;
	margin-left:50px;
}

.hotplace-list {
	list-style-type:none;
	width:100%;
}
.hotplace-list .hotplace-list-item{
	margin:20px 10px;
	display:inline-block;
	width:45%;
}
.hotplace-list .hotplace-list-item div{
	display:inline-block;
	vertical-align: middle;
}
.hotplace-list .hotplace-list-item img{
	width:300px;
	height:200px;
	margin-right:20px;
}
.hotplace-list .hotplace-list-item .item-info {
    width: 230px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hotplace-list .hotplace-list-item .item-info .h_name{
	font-size:25px;
	background:#ffc000;
}
.hotplace-list .hotplace-list-item .item-info .h_info {
    color: #808080;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 0.9;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: list-item;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.hotplace-list a:hover{
	color:#001d5d;
	text-decoration: underline;
}

.hotplace-more-view {
	text-align:center;
	margin:30px;
	padding:5px;
	background:#001d5d;
	color:#ffffff;
}

/*** board-wrapper ***/
.board-wrapper{
	border:2px solid #efefef;
	margin: 100px;
	margin-top:50px;
	text-align:left;
}
.board-header{
	margin:20px;
	margin-left:50px;
}
.board-list {
	list-style-type:none;
	width:100%;
}
.board-list .board-list-item{
	margin:30px 70px;
	/* display:inline-block; */
	/* width:45%; */
}
.board-list .board-list-item div{
	display:inline-block;
	vertical-align: middle;
}
.board-list .board-list-item img{
	width :250px;
	height:200px;
	margin-right:30px;
}
.board-list .board-list-item .item-info {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-list .board-list-item .item-info .b_title{
	font-size:25px;
}
.board-list .board-list-item .item-info .b_info{
	color:#808080;
	font-size:15px;
}


/*** TOP 버튼 ***/
a#MOVE_TOP_BTN {
    position: fixed;
    right: 60px;
    bottom: 60px;
    float:left;
    width:70px; height:70px;
    z-index: 999;
    background:#ffc000;
    border-radius:50%;
    padding: 25px 10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
a#MOVE_TOP_BTN:hover{
	text-decoration:none;
}