@charset "UTF-8";


#content .content-border {
	margin: 5px;
	border: 10px solid #ffc000;
}

a {
	color:#001d5d;
	text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
	text-decoration: underline;
	color:#808080;
}

/**************** content ****************/
/*** hotplace-wrapper ***/
.hotplace-wrapper{
	border:2px solid #efefef;
	margin: 100px;
	margin-top:50px;
	text-align:left;
}
.hotplace-header{
	margin:20px;
	margin-left:50px;
}

.hotplace-list {
	list-style-type:none;
	width:100%;
}
.hotplace-list .hotplace-list-item{
	margin:20px 10px;
	display:inline-block;
	width:45%;
}
.hotplace-list .hotplace-list-item div{
	display:inline-block;
	vertical-align: middle;
}
.hotplace-list .hotplace-list-item img{
	width:300px;
	height:200px;
	margin-right:20px;
}
.hotplace-list .hotplace-list-item .item-info {
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hotplace-list .hotplace-list-item .item-info .h_name{
	font-size:25px;
	background:#ffc000;
}
.hotplace-list .hotplace-list-item .item-info .h_info{
	color:#808080;
}

.hotplace-list a:hover{
	color:#001d5d;
	text-decoration: underline;
}

.hotplace-more-view {
	text-align:center;
	margin:30px;
	padding:5px;
	background:#001d5d;
	color:#ffffff;
}

/*** board-wrapper ***/
.board-wrapper{
	border:2px solid #efefef;
	margin: 100px;
	margin-top:50px;
	text-align:left;
}
.board-header{
	margin:20px;
}
.board-list {
	list-style-type:none;
	width:100%;
}
.board-list .board-list-item{
	margin:30px 70px;
	/* display:inline-block; */
	width:45%;
}
.board-list .board-list-item div{
	display:inline-block;
	vertical-align: middle;
}
.board-list .board-list-item img{
	float:left;
	width :250px;
	height:200px;
	
	
}
.board-list .board-list-item .item-info {
    float:right;
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-list .board-list-item .item-info .b_title{
	font-size:25px;
}
.board-list .board-list-item .item-info .b_info{
	color:#808080;
}