@charset "UTF-8";


#content .content-border {
	margin: 5px;
	border: 10px solid #ffc000;
}

a {
	color:#001d5d;
	text-decoration: none;
    transition: 0.3s ease-in-out;
}

a:hover{
	text-decoration: underline;
	color:#808080;
}

/**************** content ****************/
/*** hotplace-wrapper ***/
.hotplace-wrapper{
	border:2px solid #efefef;
	margin: 100px;
	margin-top:50px;
	text-align:left;
}
.hotplace-header{
	margin:20px;
	margin-left:50px;
}

.hotplace-list {
	list-style-type:none;
	width:100%;
}
.hotplace-list .hotplace-list-item{
	margin:20px 10px;
	display:inline-block;
	width:45%;
}
.hotplace-list .hotplace-list-item div{
	display:inline-block;
	vertical-align: middle;
}
.hotplace-list .hotplace-list-item img{
	width:300px;
	height:200px;
	margin-right:20px;
}
.hotplace-list .hotplace-list-item .item-info {
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*** board-wrapper ***/
.board-wrapper{
	border:2px solid #efefef;
	margin: 100px;
	margin-top:50px;
	text-align:left;
}
.board-header{
	margin:20px;
}